

.menu-group{
    border-right: black solid 1px;
    
    align-items: stretch;
    padding-right: 2%;
}

   
.flexible{
    display: flex; flex-direction: row; align-items: stretch
}
.dropdown-h:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar ul{
    margin-left: -30px;
}
.bold{
  font-weight: bold;
}
.sidebar li {
   
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a{
    
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  text-align: center;
  font-size: 35px;
  margin-left: 50px;
}
.sidebar .side-margin{
    margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
.hoverBTN:hover{
  background-color: #FAFDF3;
  color: black;
}
.clickableCard:hover{

border:black 2px solid;
}
.noDeco{
  text-decoration: none; color: black;

}
.noDeco:hover{
  font-weight: bold;
  color: #111;
}
.act{
  font-weight: bold;
  color: #111;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
 .noDots{
  list-style-type: none;
 }
 .underlineHover:hover{
  text-decoration: underline;
 }
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
@media (max-width: 800px) {
    .flexible{
        display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 375px) {
    .enontImage {
      width: 100%;
    }
  }

  @media screen and (max-width: 414px) {
    .enontImage {
      width: 100%;
    }
  }

  @media screen and (max-width: 360px) {
    .enontImage {
      width: 100%;
    }

  }

  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .dropbtn {
    font-size: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 600px;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {text-decoration: underline;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {font-weight: bold;}
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #111;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }